body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
}

.logo-link {
    display: inline-block;
    margin-right: 50px;
}

.nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu-item {
    margin-right: 30px;
}

.nav-menu-link {
    color: rgba(255, 255, 255, 0.5);
}

/* Section */
.date {
    display: block;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
    color: rgba(255, 255, 255, 0.8);
}

.hero-description {
    font-size: 16px;
    line-height: 140%;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 423px;
}

.button { 
    text-decoration: none;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 
.button-text, 
.button-icon {
    display: inline-block;
    vertical-align: middle;
}

.button-text {
    font-size: 16px;
    line-height: 16px;
    margin-left: 10px;
}

.button-primary {
    color: #8d0019;
    background-color: white;
}

.button-link {
    color: #fff;
}

.button-group {
    margin-top: 70px;
}
.blood {

    background: url('../img/blood.png') no-repeat top right,  #14131A url('../img/background.jpg') no-repeat center;
}
.venom {
    position: absolute;
    top: 0;
    right: 0;
}